        /*공통CSS 시작*/
        *{margin: 0; padding: 0;}
        body {
            font-family: "맑은 고딕";
            font-size: 12px;
        }
        ul {list-style: none;}
        .clear {clear: both;}
        /*공통CSS 끝*/