
    /*section CSS 시작 */
        section#main {
            width: 770px;
            float: right;
            /* border: 1px solid red; */
        }

        section#main #n_f_y {
            height: 250px;
            position: relative;
            margin-top: 10px;
            /* border: 1px solid blue; */
        }
    /**/

        section#main #notice {
            width: 360px;
            position: absolute;
            /* border: 1px solid blue; */
        }
        section#main .latest_title{
            border-bottom: 1px solid #bbbbbb;
            padding-bottom: 3px;
        }
        section#main .latest_title img.latest_img {
            float: left;
        }
        section#main .latest_title img.more {
            float: right;
        }

    /**/
        section#main .latest_content .bp_img {
            float: left;
            margin: 10px 0 0 20px;
        }
        section#main .latest_content .list {
            float: right;
        }
        section#main .latest_content li {
            margin: 10px 0 10px 0;
        }
        section#main .latest_content li div{
            float: left;
        }
        section#main .latest_content li .subject{
            width: 170px;
        }

    /**/
        section#main #free {
            width: 360px;
            position: absolute;
            top: 120px;
            /* border: 1px solid blue; */
        }

    /**/
        section#main #youtube {
            width: 360px;
            height: 250px;
            position: absolute;
            left: 380px;
            /* border: 1px solid blue; */
        }
        section#main #youtube img{
            margin-top: 10px;
            margin-left: 45px;
        }

    /**/
        section#main #gallery_box {
            border: 1px solid #bbbbbb;
            border-radius: 10px;
            width: 750px;
            height: 200px;
            margin-top: 10px;
            margin-left: 5px;
        }
        
        section .item {
            float: left;
            text-align: center;
            margin-left: 30px;
            padding: 20px 0 0 20px;
        }
        section .item li {
            margin-top: 3px;
        }
